[Hotkeys]
; Replace ID if your quest Editor ID is different in CK.
F6=CQF FE01280B ShortcutNextSource
F7=CQF FE01280B ShortcutPlayPause
F8=CQF FE01280B ShortcutForward
F9=CQF FE01280B ShortcutRewind
F10=CQF FE01280B ShortcutVolumeUp
F11=CQF FE01280B ShortcutVolumeDown
